@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: center;
  background-image: url('https://images.photowall.com/products/44478/sunny-sky.jpg?h=699&q=85');
  background-size: cover;
}


#main h2 {
  font-family: Pacifico;
  font-size: 56px;
  color: white;
  background-color: rgb(134, 134, 134);
  padding: 20px 0;
  opacity: 0.7;
}

.homeForm h3 {
  font-family: Pacifico;
}

.sendr {
  font-family: Pacifico;
}

.hikeContainer {
  max-width: 400px;
  height: 100vh; 
  display: flex; 
  justify-content: center;
  align-items: center;  
} 

.conditionsContainer {
  text-align: center;
  background-color: black;
  color: white;
  opacity: 0.5;
  width: 35%;
  height: 400px;
  margin-right: 10px;
  padding: 7px;
}

small {
  font-family: Pacifico;
}

div.locationMap {
  width: 35% !important;
  height: 400px;
  text-align: center;
  margin-left: 10px;
}

.notConditionsContainer {
  display: flex;
  justify-content: center;

  align-content: center;
}
